body
{
    width: 500px;
    margin-left: 2em;
}

#next {
    background-color: red;
    border: .15em solid darkred;
    border-radius: .4em;
    color: white;
    padding: .2em .4em;
    text-align: center;
    text-decoration: none;
    
    display: inline-block;
    font-size: 1em;
}

h1 {
    font-size: 3em;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}